<p>hello boisasas</p>

<div class="post-request-test">
  <h3> Post Request</h3>


  <button (click)="getClubPost()"> get club</button>
  <h5>Response: {{variable1}}</h5>

  <button (click)="clubDataGoalPost()"> goal s club</button>
  <h5>Response: {{variable2}}</h5>

  <button (click)="clubDataWinsPost()"> win s club</button>
  <h5>Response: {{variable3}}</h5>

  <button (click)="clubDataResetPost()"> reset s club</button>
  <h5>Response: {{variable4}}</h5>

  <button (click)="getMatchPost()"> get match</button>
  <h5>Response: {{variable5}}</h5>


  <button (click)="getMatchDatePost()"> get match date</button>
  <h5>Response: {{variable6}}</h5>

  <button (click)="generateMatchPost()"> gen match </button>
  <h5>Response: {{variable7}}</h5>

</div>
