<div class="all">
  <div class="table-contain">
    <table mat-table [dataSource]="clubList" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="pointCount">
        <th mat-header-cell *matHeaderCellDef> points </th>
        <td mat-cell *matCellDef="let element"> {{element.pointCount}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="goalsScored">
        <th mat-header-cell *matHeaderCellDef> goals </th>
        <td mat-cell *matCellDef="let element"> {{element.goalsScored}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef> wins </th>
        <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="defeat">
        <th mat-header-cell *matHeaderCellDef> draw </th>
        <td mat-cell *matCellDef="let element"> {{element.defeat}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="matchCount">
        <th mat-header-cell *matHeaderCellDef> matchs </th>
        <td mat-cell *matCellDef="let element"> {{element.matchCount}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="clubListitle; sticky: true"></tr>
      <!--    <tr mat-header-row *matHeaderRowDef="clubListitle"></tr>-->
      <tr mat-row *matRowDef="let row; columns: clubListitle;"></tr>
    </table>
  </div>

  <div class="club-button">

<!--    <button (click)="getClubPost()"> get club</button>-->
    <!--  <h5>Response: {{clubList}}</h5>-->

    <button (click)="clubDataGoalPost()"> goal s club</button>
    <!--  <h5>Response: {{variable2}}</h5>-->

    <button (click)="clubDataWinsPost()"> win s club</button>
    <!--  <h5>Response: {{variable3}}</h5>-->

    <button (click)="clubDataResetPost()"> reset s club</button>
    <!--  <h5>Response: {{variable4}}</h5>-->
  </div>
