table {
  width: 100%;
}

div.match-button{
  flex-direction: row;
  float: left;
}

div.table-contain{
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

div.all{
  margin: 50px;
  width: 668px;
}
